@{
    ViewData["Title"] = "Hozzáférés megtagadva";
}

<div class="text-center">
    <h1 class="display-4">Hozzáférés megtagadva! (⌐■_■)</h1>
    <br>
    <p><strong>Ehhez nem férhetsz hozzá!</strong></p>
    <p>(⌐▀͡ ̯ʖ▀)</p>
    <br>
    <br>
    <a>Ha úgy gondolod ,hogy a programmal van a gond jelensd </a><a
        href="https://github.com/tm01013/Munkanaplo2.git">itt</a>
</div>