@{
    ViewData["Title"] = "Hiba";
}

<div class="text-center">
    <h1 class="display-4">HIBA!</h1>
    <br>
    <p><strong>Valami nem működik ｡°(°.◜ᯅ◝°)°｡</strong></p>
    <p>Ellenőrizd, hogy minden mezőt kitöltöttél az űrlap beküldése előtt!</p>
    <p>Kérlek próbáld újra később...</p>
    <br>
    <p>A Munkanapló jelenleg fejlesztés alatt áll, a probléma megoldásán valószínűleg már dolgozok...</p>
    <a>Ha úgy gondolod ,hogy a programmal van a gond jelensd </a><a href="https://github.com/tm01013/Munkanaplo2.git">itt</a>
</div>