@{
    ViewData["Title"] = "Főoldal";
}
<div class="text-center">
    <h1 class="display-4">Szia!</h1>
    <br>
    <p><strong>A Munkanapló egy nyílt forráskódú munkanapló vezetését megkönnyítő alkalmazás.</strong></p>
    <p>Diákként a regisztráció/bejelentkezés után láthatod a Munkanapló igazi mivoltát!</p>
    <p>Ha tanár vagy akkor a "Munkanapló megtekintése tanárként" opciót keresed.</p>
    <br>
    <p>A Munkanapló jelenleg fejlesztés alatt áll...</p>
    <a>A forráskód megtekinthető </a><a href="https://github.com/tm01013/Munkanaplo2.git">itt</a>
</div>
