@{
    ViewData["Title"] = "Főoldal";
}
<div class="text-center">
    <h1 class="display-4">Szia!</h1>
    <br>
    <p><strong>A Munkanapló egy nyílt forráskódú munkanapló vezetését megkönnyítő alkalmazás.</strong></p>
    <p>Regisztráció/Bejelentkezés után láthatod a Munkanapló igazi mivoltát!</p>
    <p>Ha új vagy itt érdemes lenne elolvasnod a <a
            href="https://github.com/tm01013/Munkanaplo2/blob/main/HOWTOUSE.md">funkcióleírást</a></p>
    <br>
    <p>A Munkanapló jelenleg fejlesztés alatt áll...</p>
    <a>A forráskód és a leírás megtekinthető </a><a href="https://github.com/tm01013/Munkanaplo2.git">itt</a>
</div>
