@{
    ViewData["Title"] = "Privacy";
}

<div class="text-center">
    <h1 class="display-4">Használati fetételek</h1>
    <br>
    <p>A felhasználási feltételek nem ismerése nem mentesít a szabályok betartása alól!</p>
    <br>
    <p>A regisztrációhoz nincs szükség e-mail cím megadására.</p>
    <p>Kérjük mindenki kizárólag <strong>egy</strong> fiókot hozzon létre!</p>
    <p>Regisztrácíónál a valódi neveteket használjátok, hogy tanárotok rátok ismerjen!</p>
    <p><strong>Kérjük ne vigyetek a rendszerbe felesleges adotokat!</strong></p>
    <p><strong>A programot saját gépen futtatom hogy mindenki számára elérhető legyen!</strong></p>

    <br>
    <hr>
    <h1 class="display-4">Privacy</h1>
    <br>
    <p>A program használata során <strong>semmilyen adatot</strong> nem gyújtünk.</p>
    <p>A bejelentkezési adataid számunkra nem olvasható, így az elfelejtett jelszót nem tudjuk visszaállítani!</p>

    <br>
    <hr>
    <h1 class="display-4">License</h1>
    <br>
    <p><strong>A Munkanapló teljes mértékben nyílt forráskódú.</strong></p>
    <p><strong>És az <a href="https://www.tldrlegal.com/license/mit-license">MIT licence</a> alatt áll!</strong></p>
    <p>A Munkanapló kizárólag ingyenes tartalmak felhasználásával készült.</p>
    <p>A Munkanapló semmilyen körülmények között nem terjeszthető a fejlesző(k) copyright jogának feltüntetése nélkül.
    </p>
    <a>A forráskód megtekinthető </a><a href="https://github.com/tm01013/Munkanaplo2.git">itt</a>
    <p>© Tatár Márton @DateTime.Now.ToString("yyyy")</p>

</div>
