@model Munkanaplo2.Models.ProjectModel

@{
    ViewData["Title"] = "Törlés";

    string canDelete = Model.ProjectCreator;
    string memberString = "";
    //int count = Model.ProjectMembers.Count();
}

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<h1>Projekt törlése</h1>
@if (SignInManager.IsSignedIn(User) && User.Identity?.Name == Model.ProjectCreator)
{
    <h3>Biztosan törlöd a projektet???</h3>
    <div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Cím
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectTitle)
        </dd>

        <dt class="col-sm-2">
            Tulajdonos
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectCreator)
        </dd>

        <dt class="col-sm-2">
            Tagok
        </dt>
        <dd class="col-sm-10">
            @{
                    foreach (ProjectMembership member in ViewBag.ProjectMemberships)
                    {
                        memberString = memberString + ", " + member.Member;
                    }
                    memberString = memberString.Substring(2);
                }

                @memberString
            </dd>

        </dl>

        <form asp-action="DeleteConfirmed">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Törlés" class="btn btn-danger" /> |
            <a type="button" class="btn btn-primary" asp-action="Index">Vissza</a>
        </form>
    </div>
}
@if (SignInManager.IsSignedIn(User) && User.Identity?.Name != Model.ProjectCreator)
{
    <br />
    <br />
    <div class="text-center">
    <h1 class="display-4">HIBA!</h1>
    <br>
    <p><strong>Ehhez nincs jogosultságod! ｡°(°.◜ᯅ◝°)°｡</strong></p>
    <p>Csak akkor tudods feladatokat törölni ha a projektnet tagja vagy.</p>
    <br>
    <a>Ha úgy gondolod ,hogy a programmal van a gond jelensd </a><a
        href="https://github.com/tm01013/Munkanaplo2.git">itt</a>
    <br />
    <a type="button" class="btn btn-primary" asp-action="Index">Vissza</a>
</div>
}