@{
    ViewData["Title"] = "Hiba";
}

<div class="text-center">
    <h1 class="display-4">Hiba!</h1>
    <br>
    <p><strong>Hiba történt a műelet vérgehajtása közben :(</strong></p>
    <p>Kérlek frissísd az oldalt és próbáld újra</p>
    <br>
    <p>Ha úgy gondolod, hogy az oldal nem működik megfelelően vedd fel velem a kapcsolatot!</p>
</div>

