@model IEnumerable<Munkanaplo2.Models.ProjectModel>

@{
    ViewData["Title"] = "Projektek";
}

@using Microsoft.AspNetCore.Identity
@using Munkanaplo2.Global
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{

    <h1>Projektek</h1>


    @if (!TeacherHelper.IsTeacher(User))
    {
        <p>
    <a asp-action="Create">Új projekt</a>
</p>
    }

    <table class="table">
    <thead>
        <tr>
            <th>
                <strong>Címe</strong>
            </th>
            <th>
                <strong>Tulajdonos</strong>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {

                List<string> memberNames = new List<string>();
                foreach (ProjectMembership membership in item.ProjectMembers)
                {
                    memberNames.Add(membership.Member);
                }
                @if (memberNames.Contains(User.Identity?.Name?.ToString()))
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProjectTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProjectCreator)
                        </td>

                        <td>
                            <form class="form-inline" asp-controller="Jobs" asp-action="Index">
                                <input type="hidden" name="Id" value="@item.Id" />
                                <a type="button" class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Részletek</a>
                                <a> | </a>
                                <input type="submit" value="Feladatok" class="btn btn-primary" />
                            </form>
                        </td>

                    </tr>
                }
            }
        </tbody>
    </table>
}